* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.window {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #111, #555);
    position: relative;
}

/* ---------- Ventana bienvenida ---------- */
.container_bienvenida, .modal_volverAJugar{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #111, #555);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100;
}

.modal_volverAJugar {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

.container_bienvenida .titulo, .container_bienvenida .subtitulo, .modal_volverAJugar .titulo {
    text-transform: uppercase;
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    color: #eee;
    text-shadow: .12rem .12rem .15rem #aaa;
}

.container_bienvenida .subtitulo {
    font-size: 1.1rem;
    text-shadow: none;
    font-weight: normal;
    margin-bottom: 1rem;
}

.container_bienvenida .formulario_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_bienvenida .formulario_user input[type="text"] {
    display: block;
    padding: .5rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    background-color: transparent;
    color: #eee;
    margin-bottom: 1rem;
    text-align: center;
}

.container_bienvenida .formulario_user input[type="button"], .modal_volverAJugar .btn {
    padding: .75rem 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: 2px solid #eee;
    background-color: transparent;
    color: #eee;
    text-align: center;
    margin-top: 1rem;
    width: 60%;
    text-transform: uppercase;
}

.container_bienvenida .formulario_user input[type="button"]:hover, .modal_volverAJugar .btn:hover{
    color: #222;
    background-color: #eee;
    cursor: pointer;
    font-weight: 500;
}

.none {
    display: none;
}

/* ---------- tablero - cabecera ---------- */

.container_tablero {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
    place-items: center;
    color: #eee;
}

.contenedor_puntajes {
    width: 80%;
    margin-bottom: 1rem;
}

.contenedor_puntaje {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
}

.tiempo {
    font-size: 2rem;
    font-weight: normal;
}

/* ---------- tablero ---------- */

.tablero {
    width: 100%;
    height: 90%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3,max-content);
    place-content: center;
}

.box {
    width: 120px;
    height: 120px;
    border: 4px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnone {
    border-top: none;
}

.bbnone {
    border-bottom: none;
}

.brnone {
    border-right: none;
}

.blnone {
    border-left: none;
}

.box p {
    text-transform: uppercase;
    font-size: 5rem;
}

.maquina {
    /* color: rgb(57, 161, 19); */
    color: rgb(224, 118, 13);
}

.jugador {
    color: beige;
}

/* ----------  ---------- */

.grupoBotones {
    display: flex;
    gap: 1rem;
}

/* ----------  ---------- */

@media screen and (min-width:577px) {
    /* ---------- Ventana bienvenida ---------- */
    .container_bienvenida .titulo, .modal_volverAJugar .titulo   {
        font-size: 3.2rem;
    }

    .container_bienvenida .subtitulo {
        font-size: 1.5rem;
    }
    
    /* ---------- tablero - cabecera ---------- */

    .contenedor_puntajes {
        width: 60%;
    }
}

@media screen and (min-width:767px) {
    /* ---------- tablero - cabecera ---------- */
    .contenedor_puntajes {
        width: 40%;
    }
}

@media screen and (min-width:1024px) {
    /* ---------- tablero - cabecera ---------- */
    .contenedor_puntajes {
        width: 25%;
    }
}